<!DOCTYPE html>

<html lang="es-MX" class="light-style">

<head>
  <title>Creación de cuenta</title>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">

  <link rel="stylesheet" href="vendor/css/rtl/bootstrap.css">
  <link rel="stylesheet" href="vendor/css/rtl/appwork.css">
  <link rel="stylesheet" href="vendor/css/rtl/theme-corporate.css">
  <link rel="stylesheet" href="vendor/fonts/linearicons.css">
  <link rel="stylesheet" href="vendor/css/colors.css">
  <link rel="stylesheet" href="vendor/css/rtl/uikit.css">
  <link rel="stylesheet" href="vendor/css/pages/authentication.css">
  <link rel="stylesheet" href="vendor/fonts/pe-icon-7-stroke.css">
  <link rel="stylesheet" href="/css/login.css">
</head>

<body>
  <div class="page-loader">
    <div class="bg-primary"></div>
  </div>
  <div class="authentication-wrapper authentication-2 ui-bg-cover ui-bg-overlay-container px-4">
    <div class="ui-bg-overlay bg-dark"></div>
    <div class="authentication-wrapper authentication-2 px-4">
      <div class="authentication-inner py-5">
        <div class="card">
          <div class="p-4 p-sm-5">
            <div class="display-1 lnr lnr-cross-circle text-center text-danger mb-4"></div>
            <p class="text-center text-big mb-4">El link de verificación es inválido o ha expirado.</p>
            <a th:href="@{/}" class="btn btn-success btn-block">Ir a Iniciar Sesión</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>